<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Innnv4ting Web Page</title>
</head>


<body>
  <header class="nav-main">
    <nav class="nav-container">
      <div class="nav-logo"><a href="#home"><h2 class="nav_title">INNOV4TING</h2></a></div>
      <ul class="nav-container-items">
        <li class="nav-items"> <a class="nav-item" href="#home">Inicio</a></li>
        <li class="nav-items"> <a class="nav-item" href="#about-us">Nosotros</a></li>
        <li class="nav-items"> <a class="nav-item" href="#services">Servicios</a></li>
        <li class="nav-items"> <a class="nav-item" href="#proyects">Proyectos</a></li>
        <li class="nav-items"> <a class="nav-item" href="#contact-us">Contactanos</a></li>
      </ul>
    </nav>
  
  </header>
  <section class="home">
    <h1 class="home-title">INNOV4TING</h1>
    <h2 class="home-content">Ayudando a evolucionar el mundo</h2>
  </section>
  <section id="about-us" class="about-us">
    <div class="about-us-content">
      <h2 class="subtitle">NOSOSTROS</h2>

      <article class="about-us-content-article">
        <!-- <h3 class="about-us-content-subtitle"></h3> -->
        <p class="about-us-content-paragraph">Somos una empresa que busca innovar con nuestros productos y servicios implementando tecnologías que resuelvan problemas complejos ofreciendo soluciones a la altura de los estándares actuales.</p>
      </article>
      <article class="about-us-content-article">
        <h3 class="about-us-content-subtitle">Donde?</h3>
        <p class="about-us-content-paragraph">Somos capaces de resolver problemas tanto en viviendas, edificios como en hoteles, así mismo en el ámbito industrial tenemos experiencia trabajando y desarrollando maquinaria compleja para este tipo de entornos.</p>
      </article>
      <article class="about-us-content-article">
        <h3 class="about-us-content-subtitle">Tipo de servicio</h3>
        <p class="about-us-content-paragraph">Nuestro servicio abarca desde la planificación y el diseño de proyectos, la programación de controladores y dispositivos, la instalación de componentes y el mantenimiento de los mismos.</p>
      </article>
      <article class="about-us-content-article">
        <h3 class="about-us-content-subtitle">Tipo de trabajo</h3>
        <p class="about-us-content-paragraph">Somos especialistas trabajando tanto con tecnologías existentes como desarrollando las propias, lo que nos permite crear proyectos integrales para diferentes tipos de necesidades, desde el control de un único componente hasta la integración de una compleja red con varios dispositivos conectados simultáneamente.</p>
      </article>
    </div>
    <figure class="about-us-picture">
      <img class="about-us-img" src="../assets/images/about-us-img.jpg" alt="">
    </figure>
  </section>
  <section id="services" class="services">
    <h2 class="subtitles">NUESTROS SERVICIOS</h2>

    <div class="services-content">
      <article class="services-content-group">
        <h3 class="services-content-group-title">DOMÓTICA</h3>
        <p p class="services-content-group-paragraph">Los hogares inteligentes son el futuro y el presente permitiendo optimizar los recursos y brindando seguridad </p>
        <img class="service-icons" src="../assets/icons/home_automation_icon.svg" alt="">
        <a class="more-link" href="">Saber mas</a>
      </article>
      <article class="services-content-group">
        <h3 class="services-content-group-title">AUTOMATIZACIÓN INDUSTRIAL</h3>
        <p class="services-content-group-paragraph">Es fundamental ya que contribuye a mejorar, reinventar y evolucionar nuestra maquinaria</p>
        <img class="service-icons" src="../assets/icons/automation_icon.svg" alt="">
        <a class="more-link" href="">Saber mas</a>
      </article>
      <article class="services-content-group">
        <h3 class="services-content-group-title">ENERGÍAS LIMPIAS</h3>
        <p class="services-content-group-paragraph">Es esencial para la subsistencia humana y que sea renobable indispensable para el futuro proximo</p>
        <img class="service-icons" src="../assets/icons/clean_energy_icon.svg" alt="">
        <a class="more-link" href="">Saber mas</a>
      </article>
      <!-- <article class="services-content-group">
        <h3 class="services-content-group-title">INDUSTRIA 4.0</h3>
        <p class="services-content-group-paragraph">Los datos son esenciales para mejorar la eficiencia y la producción de los recursos de las empresas</p>
        <img class="service-icons" src="../assets/icons/IIoT_icon.svg" alt="">
        <a class="more-link" href="">Saber mas</a>
      </article> -->
      <article class="services-content-group">
        <h3 class="services-content-group-title">REALIDAD VIRTUAL</h3>
        <p class="services-content-group-paragraph">El potencial que esta tecnologia tiene nos permite explorar paradigmas nunca antes vistos</p>
        <img class="service-icons" src="../assets/icons/vr_icon.svg" alt="">
        <a class="more-link" href="">Saber mas</a>
      </article>
      <article class="services-content-group">
        <h3 class="services-content-group-title">INTELIGENCIA ARTIFICIAL</h3>
        <p class="services-content-group-paragraph">Nos permite reducir el error humano, potencia la creatividad, aporta precision y agiliza la toma de deciciones</p>
        <img class="service-icons" src="../assets/icons/AI_icon.svg" alt="">
        <a class="more-link" href="">Saber mas</a>
      </article>
    </div>

  </section>
  <footer id="contact-us" class="contact-us">
    <figure class="contact-us-image">
      <img class="contact-us-img" src="../assets/images/vector.png" alt="">
    </figure>
    <div class="contact-us-content">
      <div class="contact-us-content-contact">
        <h2 >Contacto</h2>
        <div class="contact-us-content-contact-container">
          <img class="contact-us-content-contact-icon" src="../assets/icons/locate_icon.svg" alt="">
          <h4>Leon, Guanajuato</h4>
        </div>
        <div class="contact-us-content-contact-container">
          <img class="contact-us-content-contact-icon" src="../assets/icons/whatsapp_icon.svg" alt="">
          <h4>477 0000 000</h4>
        </div>
        <div class="contact-us-content-contact-container">
          <img class="contact-us-content-contact-icon" src="../assets/icons/email_icon.svg" alt="">
          <h4>innov4ting@outlook.com</h4>
        </div>
      </div>
      <div class="contact-us-content-services">
        <h2 >Servicios</h2>
        <ul>
          <div> <a href="">Domotica</a></div>
          <div> <a href="">Automatizacion industrial</a></div>
          <div> <a href="">Energias limpias</a></div>
          <div> <a href="">Industria 4.0</a></div>
          <div> <a href="">Realidad Virtual</a></div>
          <div> <a href="">Inteligencia Artificial</a></div>
        </ul>
      </div>
      <div class="contact-us-content-socialMedia">
        <h2 >Redes Sociales</h2>
        <ul>
          <div> <img class="contact-us-content-socialMedia-icon" src="../assets/icons/insta_icon.svg" alt=""></div>
          <div> <img class="contact-us-content-socialMedia-icon" src="../assets/icons/fb_icon.svg" alt=""></div>
          <div> <img class="contact-us-content-socialMedia-icon" src="../assets/icons/tok_tik_icon.svg" alt=""></div>
          <div> <img class="contact-us-content-socialMedia-icon" src="../assets/icons/linkedin_icon.svg" alt=""></div>
        </ul>
      </div>
    </div>
    <div class="contact-us-copyright">
      <h6>© Copyright 2023 INNOV4TING SA de CV</h6>
    </div>
  </footer>
</body>
</html>